{% extends 'main.html' %}
{% block main %}
    <style>
        .notice {
            text-align: center;
            padding: 8px;
        }

        .notice p {
            padding: 5px;
            margin-top: 20px;
            color: crimson;
            text-align: left;
        }

        .notice a {
            padding: 5px;
            color: black;
            line-height: 22px;;
        }
    </style>
    <div class="notice">
        <h3>仙之梦 V0.0.1 更新公告</h3>
        <p>①布局调整:<a>设计顶部信息栏，顶部导航栏，中部主体显示栏，底部核心功能栏。</a><br>
            ②角色创建:<a>新增加仙魔双职业角色创建，成仙成魔由你决定。</a>
        </p>
    </div>
{% endblock %}